@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* .text-balance {
    text-wrap: balance;
  } */
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --table-hover: rgb(8 47 73);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  transition: all 400ms ease-in-out 0ms;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.page-transition{
  opacity: 0;
  background: #000;
  filter: blur(10px);
}
.table-head-column{
  @apply transition-all duration-300 hover:bg-cyan-600;
}
.table-body-column{
  @apply text-xs sm:text-base border border-slate-700 py-2 px-4;
}
.danger-btn{
  @apply flex gap-2 items-center text-white bg-red-600 border-solid border-2 border-red-600 px-4 py-2 rounded-md hover:text-red-600 hover:bg-white hover:border-red-600 transition-all duration-300;
}
tr, td{
  transition: all 350ms ease-in-out;
}
table:has(tr th:first-child:hover) td:first-child{
  background-color: var(--table-hover);
}
table:has(tr th:nth-child(2):hover) td:nth-child(2){
  background-color: var(--table-hover);
}
table:has(tr th:nth-child(3):hover) td:nth-child(3){
  background-color: var(--table-hover);
}
table:has(tr th:nth-child(4):hover) td:nth-child(4){
  background-color: var(--table-hover);
}
table:has(tr th:nth-child(5):hover) td:nth-child(5){
  background-color: var(--table-hover);
}
table:has(tr th:nth-child(6):hover) td:nth-child(6){
  background-color: var(--table-hover);
}
table:has(tbody td:first-child:hover) td:first-child{
  background-color: var(--table-hover);
}
table:has(td:nth-child(2):hover) td:nth-child(2){
  background-color: var(--table-hover);
}
table:has(td:nth-child(3):hover) td:nth-child(3){
  background-color: var(--table-hover);
}
table:has(td:nth-child(4):hover) td:nth-child(4){
  background-color: var(--table-hover);
}
table:has(td:nth-child(5):hover) td:nth-child(5){
  background-color: var(--table-hover);
}
table:has(td:nth-child(6):hover) td:nth-child(6){
  background-color: var(--table-hover);
}
table:has(td:nth-child(7):hover) td:nth-child(7){
  background-color: var(--table-hover);
}
table:has(tbody tr:first-child:hover) tr:first-child{
  background-color: var(--table-hover);
}
table:has(tr:nth-child(2):hover) tr:nth-child(2){
  background-color: var(--table-hover);
}
table:has(tr:nth-child(3):hover) tr:nth-child(3){
  background-color: var(--table-hover);
}
table:has(tr:nth-child(4):hover) tr:nth-child(4){
  background-color: var(--table-hover);
}
table:has(tr:nth-child(5):hover) tr:nth-child(5){
  background-color: var(--table-hover);
}
table:has(tr:nth-child(6):hover) tr:nth-child(6){
  background-color: var(--table-hover);
}
table:has(tr:nth-child(7):hover) tr:nth-child(7){
  background-color: var(--table-hover);
}
table:has(tr:nth-child(8):hover) tr:nth-child(8){
  background-color: var(--table-hover);
}
table:has(tr:nth-child(9):hover) tr:nth-child(9){
  background-color: var(--table-hover);
}
table:has(tr:nth-child(10):hover) tr:nth-child(10){
  background-color: var(--table-hover);
}
input.PhoneInputInput {
  color: rgb(156 163 175);
  outline: none;
  background-color: transparent;
}